<a href="https://colab.research.google.com/github/Mrutyunjay01/Employee_attrition_rate_prediction_challenge_hackerearth2020/blob/master/NN_with_xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
train_df = pd.read_csv('/content/Train.csv')
train_df.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
categorical_train = train_df.select_dtypes('object')
categorical_train = categorical_train.drop(columns=['Employee_ID'])
categorical_train

     Gender  ... Compensation_and_Benefits
0         F  ...                     type2
1         M  ...                     type2
2         F  ...                     type2
3         F  ...                     type2
4         F  ...                     type3
...     ...  ...                       ...
6995      F  ...                     type3
6996      F  ...                     type3
6997      F  ...                     type2
6998      F  ...                     type0
6999      F  ...                     type2

[7000 rows x 6 columns]

In [ ]:
categorical_train.isna().sum()

Employee_ID                  0
Gender                       0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Compensation_and_Benefits    0
dtype: int64

In [ ]:
categorical_train_dummies = pd.get_dummies(categorical_train.drop(columns=['Employee_ID']))
categorical_train_dummies

      Gender_F  ...  Compensation_and_Benefits_type4
0            1  ...                                0
1            0  ...                                0
2            1  ...                                0
3            1  ...                                0
4            1  ...                                0
...        ...  ...                              ...
6995         1  ...                                0
6996         1  ...                                0
6997         1  ...                                0
6998         1  ...                                0
6999         1  ...                                0

[7000 rows x 30 columns]

In [ ]:
numerical_train = train_df.select_dtypes(exclude='object')
numerical_train

       Age  Education_Level  Time_of_service  ...  VAR6  VAR7  Attrition_rate
0     42.0                4              4.0  ...     5     3          0.1841
1     24.0                3              5.0  ...     5     3          0.0670
2     58.0                3             27.0  ...     8     3          0.0851
3     26.0                3              4.0  ...     7     3          0.0668
4     31.0                1              5.0  ...     8     2          0.1827
...    ...              ...              ...  ...   ...   ...             ...
6995  23.0                5              4.0  ...     7     3          0.7839
6996  44.0                1             16.0  ...     8     4          0.1055
6997  49.0                3             10.0  ...     8     3          0.7847
6998  47.0                3             24.0  ...     6     3          0.4162
6999  58.0                3             22.0  ...     5     3          0.0910

[7000 rows x 17 columns]

In [ ]:
to_clean_train = pd.concat([numerical_train, categorical_train_dummies], axis=1)
to_clean_train

       Age  ...  Compensation_and_Benefits_type4
0     42.0  ...                                0
1     24.0  ...                                0
2     58.0  ...                                0
3     26.0  ...                                0
4     31.0  ...                                0
...    ...  ...                              ...
6995  23.0  ...                                0
6996  44.0  ...                                0
6997  49.0  ...                                0
6998  47.0  ...                                0
6999  58.0  ...                                0

[7000 rows x 47 columns]

In [ ]:
abs(to_clean_train.corr()['Attrition_rate']).sort_values(ascending=False)

Attrition_rate                       1.000000
Gender_M                             0.028544
Gender_F                             0.028544
Decision_skill_possess_Behavioral    0.027524
Compensation_and_Benefits_type0      0.026905
VAR2                                 0.023991
Unit_IT                              0.022529
Work_Life_balance                    0.020746
Compensation_and_Benefits_type3      0.017876
Decision_skill_possess_Conceptual    0.016568
Time_of_service                      0.016447
Post_Level                           0.016402
Age                                  0.015498
VAR7                                 0.015299
Unit_Purchasing                      0.015279
Pay_Scale                            0.015236
Unit_Operarions                      0.015147
Hometown_Springfield                 0.014555
growth_rate                          0.014247
Time_since_promotion                 0.013880
Unit_R&D                             0.013868
Decision_skill_possess_Directive     0.013680
VAR4                                 0.013120
Travel_Rate                          0.012608
Unit_Logistics                       0.012071
Compensation_and_Benefits_type1      0.010370
Relationship_Status_Single           0.009107
Relationship_Status_Married          0.009107
Hometown_Lebanon                     0.008222
Education_Level                      0.008143
VAR1                                 0.008073
Unit_Sales                           0.007789
Unit_Human Resource Management       0.005826
Compensation_and_Benefits_type2      0.005273
VAR5                                 0.004770
Hometown_Franklin                    0.004188
Unit_Quality                         0.003355
VAR6                                 0.003130
Unit_Accounting and Finance          0.002994
Decision_skill_possess_Analytical    0.002822
Unit_Marketing                       0.002422
Hometown_Clinton                     0.001454
Unit_Production                      0.001297
VAR3                                 0.001245
Unit_Security                        0.001183
Hometown_Washington                  0.001122
Compensation_and_Benefits_type4      0.000460
Name: Attrition_rate, dtype: float64

In [ ]:
for col in abs(to_clean_train.corr()['Attrition_rate']).sort_values(ascending=False).index.to_list():
  if abs(to_clean_train.corr()['Attrition_rate']).sort_values(ascending=False)[col] < 0.015:
    to_clean_train = to_clean_train.drop(columns=col)

to_clean_train

       Age  ...  Compensation_and_Benefits_type3
0     42.0  ...                                0
1     24.0  ...                                0
2     58.0  ...                                0
3     26.0  ...                                0
4     31.0  ...                                1
...    ...  ...                              ...
6995  23.0  ...                                1
6996  44.0  ...                                1
6997  49.0  ...                                0
6998  47.0  ...                                0
6999  58.0  ...                                0

[7000 rows x 17 columns]

In [ ]:
to_clean_train.isna().sum()

Age                                  412
Time_of_service                      144
Post_Level                             0
Pay_Scale                              9
Work_Life_balance                     11
VAR2                                 577
VAR7                                   0
Attrition_rate                         0
Gender_F                               0
Gender_M                               0
Unit_IT                                0
Unit_Operarions                        0
Unit_Purchasing                        0
Decision_skill_possess_Behavioral      0
Decision_skill_possess_Conceptual      0
Compensation_and_Benefits_type0        0
Compensation_and_Benefits_type3        0
dtype: int64

In [ ]:
to_clean_train = to_clean_train.fillna(0)

In [ ]:
to_clean_train.corr()['Attrition_rate'].sort_values(ascending=False)

Attrition_rate                       1.000000
Gender_M                             0.028544
Compensation_and_Benefits_type0      0.026905
Work_Life_balance                    0.021115
Decision_skill_possess_Conceptual    0.016568
Post_Level                           0.016402
Unit_Purchasing                      0.015279
Unit_Operarions                      0.015147
Age                                 -0.008505
VAR7                                -0.015299
Pay_Scale                           -0.015643
Compensation_and_Benefits_type3     -0.017876
Time_of_service                     -0.019863
Unit_IT                             -0.022529
VAR2                                -0.022906
Decision_skill_possess_Behavioral   -0.027524
Gender_F                            -0.028544
Name: Attrition_rate, dtype: float64

In [ ]:
final_features = to_clean_train.drop(['Age'], axis=1)

In [ ]:
final_features

      Time_of_service  ...  Compensation_and_Benefits_type3
0                 4.0  ...                                0
1                 5.0  ...                                0
2                27.0  ...                                0
3                 4.0  ...                                0
4                 5.0  ...                                1
...               ...  ...                              ...
6995              4.0  ...                                1
6996             16.0  ...                                1
6997             10.0  ...                                0
6998             24.0  ...                                0
6999             22.0  ...                                0

[7000 rows x 16 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(final_features.drop(columns=['Attrition_rate']), final_features['Attrition_rate'],
                                                    test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

x_train_s = StandardScaler().fit_transform(x_train)
x_test_s = StandardScaler().fit_transform(x_test)

In [ ]:
final_features

      Time_of_service  ...  Compensation_and_Benefits_type3
0                 4.0  ...                                0
1                 5.0  ...                                0
2                27.0  ...                                0
3                 4.0  ...                                0
4                 5.0  ...                                1
...               ...  ...                              ...
6995              4.0  ...                                1
6996             16.0  ...                                1
6997             10.0  ...                                0
6998             24.0  ...                                0
6999             22.0  ...                                0

[7000 rows x 16 columns]

In [ ]:
dtrain = xgb.DMatrix(final_features.drop(['Attrition_rate'], axis=1), final_features['Attrition_rate'])

import warnings
warnings.simplefilter('ignore')

In [ ]:
!pip install bayesian-optimization==1.0.0

Collecting bayesian-optimization==1.0.0
  Downloading https://files.pythonhosted.org/packages/ad/fd/a53b65d5cff76d1f2783ac8172eb0adb670ec86f4955e7f8f3ef21d71e3a/bayesian-optimization-1.0.0.tar.gz
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization==1.0.0) (1.18.5)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization==1.0.0) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization==1.0.0) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization==1.0.0) (0.15.1)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.0.0-cp36-none-any.whl size=10270 sha256=2aaffc0bca7fd0d1e105a2b464220b44f3a5c74ff8a667117c2d033f8fb57abf
  Stored in directory: /root/.cache/pip/wheels/4b/60/a2/6eec4adc73341c1a2a653022b99ff8e1cb090684dba83be683
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.0.0

In [ ]:
from bayes_opt import BayesianOptimization

In [ ]:
#Bayesian Optimization function for xgboost
#specify the parameters you want to tune as keyword arguments
def bo_tune_xgb(max_depth, gamma,learning_rate):
    
    params = {'max_depth': int(max_depth),
              'gamma': gamma,
              'learning_rate':learning_rate,
              'subsample': 0.8,
              'eta': 0.1,
              'eval_metric': 'rmse'}
    #Cross validating with the specified parameters in 5 folds and 70 iterations
    cv_result = xgb.cv(params, dtrain, num_boost_round=70, nfold=5)
    #Return the negative RMSE
    return -1.0 * cv_result['test-rmse-mean'].iloc[-1]

#Invoking the Bayesian Optimizer with the specified parameters to tune
xgb_bo = BayesianOptimization(bo_tune_xgb, {'max_depth': (3, 10),
                                             'gamma': (0, 1),
                                             'learning_rate':(0,1),
                                            })

#performing Bayesian optimization for 5 iterations with 8 steps of random exploration with an #acquisition function of expected improvement
xgb_bo.maximize(n_iter=5, init_points=8, acq='ei')

|   iter    |  target   |   gamma   | learni... | max_depth |
-------------------------------------------------------------
|  1        | -0.1953   |  0.3836   |  0.8077   |  7.49     |
|  2        | -0.187    |  0.8464   |  0.6661   |  9.13     |
|  3        | -0.1871   |  0.3388   |  0.1596   |  7.49     |
|  4        | -0.1862   |  0.4544   |  0.1392   |  6.146    |
|  5        | -0.1865   |  0.01106  |  0.1008   |  3.033    |
|  6        | -0.1857   |  0.9314   |  0.1258   |  4.815    |
|  7        | -0.2293   |  0.05337  |  0.8458   |  6.155    |
|  8        | -0.1864   |  0.1534   |  0.04451  |  4.878    |
|  9        | -0.3619   |  1.0      |  0.0      |  7.125    |
|  10       | -0.2749   |  0.0      |  1.0      |  10.0     |
|  11       | -0.1858   |  0.9905   |  0.05545  |  3.135    |
|  12       | -0.2227   |  0.0      |  0.395    |  8.426    |
|  13       | -0.1863   |  1.0      |  1.0      |  10.0     |
=============================================================

In [ ]:
params = xgb_bo.max['params']
print(params)
params['max_depth'] = int(params['max_depth'])

{'gamma': 0.931399542698504, 'learning_rate': 0.12579767830775979, 'max_depth': 4.815025511906325}

In [ ]:
xgbreg = xgb.XGBRegressor(**params).fit(x_train_s, y_train)

[18:13:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
xgbreg.predict(x_test_s)

array([0.1897563, 0.1897563, 0.1897563, ..., 0.1897563, 0.1897563,
       0.1897563], dtype=float32)

In [ ]:
from sklearn.metrics import mean_squared_error

1 - np.sqrt(mean_squared_error(y_test, xgbreg.predict(x_test_s)))

0.8134180946217047

In [ ]:
train_df.Attrition_rate.mean()

0.1893761285714282

In [ ]:
test_df = pd.read_csv('/content/Test.csv')

In [ ]:
test_df_pre = test_df.drop(['Employee_ID'], axis=1)

In [ ]:
num_test = test_df_pre.select_dtypes(exclude='object')

In [ ]:
cat_test = test_df_pre.select_dtypes(include='object')

In [ ]:
cat_test_dummies = pd.get_dummies(cat_test)
cat_test_dummies

      Gender_F  ...  Compensation_and_Benefits_type4
0            1  ...                                0
1            0  ...                                0
2            0  ...                                0
3            0  ...                                0
4            1  ...                                0
...        ...  ...                              ...
2995         1  ...                                0
2996         1  ...                                0
2997         1  ...                                0
2998         1  ...                                0
2999         1  ...                                1

[3000 rows x 30 columns]

In [ ]:
num_test.isna().sum()

Age                     161
Education_Level           0
Time_of_service          52
Time_since_promotion      0
growth_rate               0
Travel_Rate               0
Post_Level                0
Pay_Scale                 3
Work_Life_balance         5
VAR1                      0
VAR2                    217
VAR3                      0
VAR4                    298
VAR5                      0
VAR6                      0
VAR7                      0
dtype: int64

In [ ]:
final_features.columns

Index(['Time_of_service', 'Post_Level', 'Pay_Scale', 'Work_Life_balance',
       'VAR2', 'VAR7', 'Attrition_rate', 'Gender_F', 'Gender_M', 'Unit_IT',
       'Unit_Operarions', 'Unit_Purchasing',
       'Decision_skill_possess_Behavioral',
       'Decision_skill_possess_Conceptual', 'Compensation_and_Benefits_type0',
       'Compensation_and_Benefits_type3'],
      dtype='object')

In [ ]:
to_clean_test = pd.concat([num_test, cat_test_dummies], axis=1)
to_clean_test

       Age  ...  Compensation_and_Benefits_type4
0     32.0  ...                                0
1     65.0  ...                                0
2     52.0  ...                                0
3     50.0  ...                                0
4     44.0  ...                                0
...    ...  ...                              ...
2995  32.0  ...                                0
2996   NaN  ...                                0
2997  60.0  ...                                0
2998  51.0  ...                                0
2999  45.0  ...                                1

[3000 rows x 46 columns]

In [ ]:
for col in to_clean_test.columns:
  if col not in final_features.columns:
    to_clean_test = to_clean_test.drop(columns=col)

to_clean_test

      Time_of_service  ...  Compensation_and_Benefits_type3
0                 7.0  ...                                0
1                41.0  ...                                0
2                21.0  ...                                1
3                11.0  ...                                0
4                12.0  ...                                0
...               ...  ...                              ...
2995              3.0  ...                                0
2996             10.0  ...                                0
2997             35.0  ...                                1
2998             23.0  ...                                1
2999             12.0  ...                                0

[3000 rows x 15 columns]

In [ ]:
final_features

      Time_of_service  ...  Compensation_and_Benefits_type3
0                 4.0  ...                                0
1                 5.0  ...                                0
2                27.0  ...                                0
3                 4.0  ...                                0
4                 5.0  ...                                1
...               ...  ...                              ...
6995              4.0  ...                                1
6996             16.0  ...                                1
6997             10.0  ...                                0
6998             24.0  ...                                0
6999             22.0  ...                                0

[7000 rows x 24 columns]

In [ ]:
final_test_s = StandardScaler().fit_transform(to_clean_test)
final_test = to_clean_test.iloc[:]

In [ ]:
xgbreg.predict(final_test_s).mean()

0.1894053

In [ ]:
submission = pd.DataFrame()
submission['Employee_ID'] = test_df['Employee_ID'].iloc[:]
submission['Attrition_rate'] = p
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.191009
1       EID_9658        0.191009
2      EID_22203        0.191009
3       EID_7652        0.191009
4       EID_6516        0.191009
...          ...             ...
2995   EID_22547        0.191009
2996   EID_10066        0.191009
2997    EID_7126        0.191009
2998    EID_4929        0.191009
2999   EID_24750        0.191009

[3000 rows x 2 columns]

In [ ]:
submission.to_csv('Submission.csv', index=False)

In [ ]:
def xgb_evaluate(
          max_depth,
          gamma,
          min_child_weight,
          max_delta_step,
          subsample,
          colsample_bytree
         ):
    params = {
              'booster' : 'gbtree',
              'max_depth' : int(max_depth),
              'gamma' : gamma,
              'eta' : 0.1,
              'nthread' : 4,
              'silent' : True,
              'eval_metric': 'rmse',
              'subsample' : max(min(subsample, 1), 0),
              'colsample_bytree' : max(min(colsample_bytree, 1), 0),
              'min_child_weight' : min_child_weight,
              'max_delta_step' : int(max_delta_step),
              'seed' : 1001
              }
    # Used around 1000 boosting rounds in the full model
    cv_result = xgb.cv(
                    params,
                    dtrain,
                    num_boost_round = 20000,
                    #stratified = True,
                    nfold = 5,
                    metrics='rmse',
                    #verbose_eval = 10,
                    early_stopping_rounds = 100,
                    #show_stdv = True
               )    
    
    # Bayesian optimization only knows how to maximize, not minimize, so return the negative RMSE
    return -1.0 * cv_result['test-rmse-mean'].iloc[-1]
xgb_bo = BayesianOptimization(xgb_evaluate, {
                                     'max_depth': (2, 12),
                                     'gamma': (0.001, 10.0),
                                     'min_child_weight': (0, 20),
                                     'max_delta_step': (0, 10),
                                     'subsample': (0.4, 1.0),
                                     'colsample_bytree' :(0.4, 1.0)
                                    })
# Use the expected improvement acquisition function to handle negative numbers
# Optimally needs quite a few more initiation points and number of iterations
xgb_bo.maximize(init_points=10, n_iter=30, acq='ei')

|   iter    |  target   | colsam... |   gamma   | max_de... | max_depth | min_ch... | subsample |
-------------------------------------------------------------------------------------------------
|  1        | -0.1857   |  0.4818   |  7.359    |  6.179    |  10.75    |  3.836    |  0.8911   |
|  2        | -0.1857   |  0.5533   |  4.867    |  9.907    |  2.14     |  12.76    |  0.8766   |
|  3        | -0.1857   |  0.741    |  3.101    |  3.102    |  4.36     |  18.41    |  0.717    |
|  4        | -0.1857   |  0.8048   |  2.976    |  0.854    |  8.615    |  6.056    |  0.5082   |
|  5        | -0.1862   |  0.6668   |  0.08425  |  6.469    |  3.553    |  13.56    |  0.662    |
|  6        | -0.1857   |  0.7387   |  2.373    |  2.931    |  8.623    |  0.4284   |  0.4885   |
|  7        | -0.1857   |  0.4499   |  2.0      |  3.982    |  7.1      |  2.039    |  0.9743   |
|  8        | -0.1857   |  0.6844   |  3.552    |  4.935    |  3.391    |  5.917    |  0.6488   |
|  9        | -0.1857   |  0.9992   |  8.763    |  3.772    |  5.08     |  18.74    |  0.7622   |
|  10       | -0.1857   |  0.8865   |  7.781    |  0.2113   |  6.851    |  19.12    |  0.9402   |
|  11       | -0.1857   |  0.7669   |  9.899    |  9.704    |  11.93    |  0.5349   |  0.4869   |
|  12       | -0.1857   |  0.8752   |  9.3      |  0.02485  |  11.79    |  0.05061  |  0.9742   |
|  13       | -0.1857   |  0.8529   |  9.51     |  9.718    |  11.66    |  19.89    |  0.9951   |
|  14       | -0.1857   |  0.9717   |  9.845    |  0.3339   |  2.215    |  0.1451   |  0.9317   |
|  15       | -0.1857   |  0.4348   |  9.848    |  8.96     |  11.72    |  19.99    |  0.9554   |
|  16       | -0.1865   |  0.7829   |  0.2149   |  0.441    |  11.9     |  19.8     |  0.9142   |
|  17       | -0.1857   |  0.635    |  9.64     |  9.577    |  2.103    |  0.01955  |  0.6048   |
|  18       | -0.1857   |  0.8049   |  9.775    |  9.847    |  2.624    |  0.07433  |  0.9357   |
|  19       | -0.1857   |  0.901    |  9.316    |  9.915    |  2.161    |  0.2022   |  0.5054   |
|  20       | -0.1857   |  0.7624   |  9.96     |  9.304    |  11.83    |  0.1121   |  0.8136   |
|  21       | -0.1857   |  0.5928   |  0.29     |  9.57     |  2.545    |  0.009758 |  0.5887   |
|  22       | -0.1857   |  0.9241   |  9.568    |  9.556    |  11.83    |  0.1708   |  0.4194   |
|  23       | -0.1857   |  0.8335   |  9.61     |  9.57     |  2.016    |  0.06084  |  0.6323   |
|  24       | -0.1857   |  0.9509   |  9.705    |  0.1386   |  3.064    |  0.1763   |  0.512    |
|  25       | -0.1857   |  0.8871   |  9.885    |  0.1619   |  11.87    |  0.3955   |  0.7725   |
|  26       | -0.1857   |  0.9391   |  9.908    |  8.091    |  2.153    |  19.95    |  0.4633   |
|  27       | -0.1857   |  0.6716   |  9.311    |  9.964    |  2.038    |  0.257    |  0.5996   |
|  28       | -0.1857   |  0.7735   |  9.891    |  9.143    |  11.94    |  0.03146  |  0.8256   |
|  29       | -0.1857   |  0.6228   |  9.76     |  9.929    |  2.113    |  19.38    |  0.9955   |
|  30       | -0.1863   |  0.9151   |  0.08727  |  9.73     |  3.016    |  0.01327  |  0.8798   |
|  31       | -0.1857   |  0.946    |  9.673    |  0.2811   |  2.206    |  19.56    |  0.7094   |
|  32       | -0.1857   |  0.7731   |  9.612    |  0.4002   |  11.55    |  19.96    |  0.9426   |
|  33       | -0.1857   |  0.7959   |  9.736    |  0.1508   |  11.99    |  19.33    |  0.6903   |
|  34       | -0.1857   |  0.8635   |  9.676    |  9.825    |  11.85    |  19.64    |  0.77     |
|  35       | -0.1857   |  0.8918   |  9.092    |  0.3102   |  2.316    |  19.88    |  0.7836   |
|  36       | -0.1857   |  0.936    |  9.667    |  0.03029  |  11.81    |  0.1477   |  0.6797   |
|  37       | -0.1857   |  0.6461   |  9.383    |  0.12     |  2.294    |  19.92    |  0.4113   |
|  38       | -0.1857   |  0.5404   |  9.635    |  9.807    |  11.58    |  19.87    |  0.9283   |
|  39       | -0.1857   |  0.6681   |  9.329    |  9.69     |  11.85    |  20.0     |  0.7869   |
|  40       | -0.1857   |  0.8062   |  9.957    |  0.1789   |  3.201    |  0.000965 |  0.7795   |
=================================================================================================

In [ ]:
params = xgb_bo.max['params']
params['max_depth'] = int(params['max_depth'])
params['min_child_weight'] = int(params['min_child_weight'])
params['max_delta_step'] = int(params['max_delta_step'])
params

{'colsample_bytree': 0.9509107154535124,
 'gamma': 9.705011417590331,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 0,
 'subsample': 0.5119595128928055}

In [ ]:
model = xgb.train(params, dtrain, num_boost_round=30000)

In [ ]:
model.predict(dtrain)

array([0.18866332, 0.18866332, 0.18866332, ..., 0.18866332, 0.18866332,
       0.18866332], dtype=float32)

In [ ]:
from sklearn.metrics import mean_squared_error
1 - np.sqrt(mean_squared_error(final_features['Attrition_rate'], model.predict(dtrain)))

0.814258702721271

In [ ]:
dtest = xgb.DMatrix(final_test)
dtest

In [ ]:
p = model.predict(dtest)
p

array([0.19100863, 0.19100863, 0.19100863, ..., 0.19100863, 0.19100863,
       0.19100863], dtype=float32)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Dropout

nn = Sequential()
nn.add(Dense(32, input_dim=22, activation='elu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.2))

nn.add(Dense(64, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.2))
nn.add(Dense(64, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.2))
nn.add(Dense(64, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.2))
nn.add(Dense(128, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.3))
nn.add(Dense(128, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.3))
nn.add(Dense(256, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.4))
nn.add(Dense(256, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.4))
nn.add(Dense(512, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.45))
nn.add(Dense(1024, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.5))

nn.add(Dense(512, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.4))

nn.add(Dense(128, activation='relu'))
nn.add(BatchNormalization())
nn.add(Dropout(0.2))

nn.add(Dense(1, activation='sigmoid'))

In [ ]:
nn.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_94 (Dense)             (None, 32)                736
_________________________________________________________________
batch_normalization_85 (Batc (None, 32)                128
_________________________________________________________________
dropout_85 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_95 (Dense)             (None, 64)                2112
_________________________________________________________________
batch_normalization_86 (Batc (None, 64)                256
_________________________________________________________________
dropout_86 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_96 (Dense)             (None, 64)                4160
_________________________________________________________________
batch_normalization_87 (Batc (None, 64)                256
_________________________________________________________________
dropout_87 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_97 (Dense)             (None, 64)                4160
_________________________________________________________________
batch_normalization_88 (Batc (None, 64)                256
_________________________________________________________________
dropout_88 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_98 (Dense)             (None, 128)               8320
_________________________________________________________________
batch_normalization_89 (Batc (None, 128)               512
_________________________________________________________________
dropout_89 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_99 (Dense)             (None, 128)               16512
_________________________________________________________________
batch_normalization_90 (Batc (None, 128)               512
_________________________________________________________________
dropout_90 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_100 (Dense)            (None, 256)               33024
_________________________________________________________________
batch_normalization_91 (Batc (None, 256)               1024
_________________________________________________________________
dropout_91 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_101 (Dense)            (None, 256)               65792
_________________________________________________________________
batch_normalization_92 (Batc (None, 256)               1024
_________________________________________________________________
dropout_92 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_102 (Dense)            (None, 512)               131584
_________________________________________________________________
batch_normalization_93 (Batc (None, 512)               2048
_________________________________________________________________
dropout_93 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_103 (Dense)            (None, 1024)              525312
_________________________________________________________________
batch_normalization_94 (Batc (None, 1024)              4096
_________________________________________________________________
dropout_94 (Dropout)         (None, 1024)              0
_________________________________________________________________
dense_104 (Dense)            (None, 512)               524800
_________________________________________________________________
batch_normalization_95 (Batc (None, 512)               2048
_________________________________________________________________
dropout_95 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_105 (Dense)            (None, 128)               65664
_________________________________________________________________
batch_normalization_96 (Batc (None, 128)               512
_________________________________________________________________
dropout_96 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_106 (Dense)            (None, 1)                 129
=================================================================
Total params: 1,394,977
Trainable params: 1,388,641
Non-trainable params: 6,336
_________________________________________________________________

In [ ]:
nn.compile(optimizer='sgd', loss='mean_squared_error', metrics=['mse'])

In [ ]:
nn.fit(Xts, Y_train,
       batch_size=8, epochs=10,
       validation_data=(xtst, Y_test),
       shuffle=True)

Train on 5950 samples, validate on 1050 samples
Epoch 1/10
5950/5950 [==============================] - 16s 3ms/step - loss: 0.0537 - mse: 0.0537 - val_loss: 0.0365 - val_mse: 0.0365
Epoch 2/10
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 3/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 4/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 5/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 6/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 7/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 8/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 9/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 10/10
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353

In [ ]:
final_features

      Time_of_service  ...  Compensation_and_Benefits_type3
0                 4.0  ...                                0
1                 5.0  ...                                0
2                27.0  ...                                0
3                 4.0  ...                                0
4                 5.0  ...                                1
...               ...  ...                              ...
6995              4.0  ...                                1
6996             16.0  ...                                1
6997             10.0  ...                                0
6998             24.0  ...                                0
6999             22.0  ...                                0

[7000 rows x 16 columns]

In [ ]:
nn.predict(final_features.drop(['Attrition_rate'], axis=1)).mean()

0.16868775

In [ ]:
train_nn = pd.concat([numerical_train, categorical_train], axis=1)
train_nn

       Age  Education_Level  ...  Decision_skill_possess  Compensation_and_Benefits
0     42.0                4  ...                       2                          2
1     24.0                3  ...                       0                          2
2     58.0                3  ...                       2                          2
3     26.0                3  ...                       1                          2
4     31.0                1  ...                       2                          3
...    ...              ...  ...                     ...                        ...
6995  23.0                5  ...                       1                          3
6996  44.0                1  ...                       0                          3
6997  49.0                3  ...                       3                          2
6998  47.0                3  ...                       1                          0
6999  58.0                3  ...                       3                          2

[7000 rows x 23 columns]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(train_nn.drop(columns=['Attrition_rate']), train_nn['Attrition_rate'],
                                                    test_size=0.15, random_state=42)

In [ ]:
Xts = StandardScaler().fit_transform(X_train)
xtst = StandardScaler().fit_transform(X_test)

In [ ]:
nn.fit(Xts, Y_train,
       batch_size=8, epochs=30,
       validation_data=(xtst, Y_test),
       shuffle=True)

Train on 5950 samples, validate on 1050 samples
Epoch 1/30
5950/5950 [==============================] - 22s 4ms/step - loss: 0.0735 - mse: 0.0735 - val_loss: 0.0393 - val_mse: 0.0393
Epoch 2/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0429 - mse: 0.0429 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 3/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0384 - mse: 0.0384 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 4/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0369 - mse: 0.0369 - val_loss: 0.0362 - val_mse: 0.0362
Epoch 5/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0361 - mse: 0.0361 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 6/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0357 - mse: 0.0357 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 7/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0356 - mse: 0.0356 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 8/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0356 - mse: 0.0356 - val_loss: 0.0365 - val_mse: 0.0365
Epoch 9/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0356 - mse: 0.0356 - val_loss: 0.0358 - val_mse: 0.0358
Epoch 10/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0353 - mse: 0.0353 - val_loss: 0.0367 - val_mse: 0.0367
Epoch 11/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0356 - val_mse: 0.0356
Epoch 12/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0353 - mse: 0.0353 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 13/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0352 - mse: 0.0352 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 14/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 15/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0352 - mse: 0.0352 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 16/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0359 - val_mse: 0.0359
Epoch 17/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 18/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 19/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 20/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 21/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 22/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 23/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0359 - val_mse: 0.0359
Epoch 24/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 25/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 26/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0348 - mse: 0.0348 - val_loss: 0.0360 - val_mse: 0.0360
Epoch 27/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0348 - mse: 0.0348 - val_loss: 0.0356 - val_mse: 0.0356
Epoch 28/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0348 - mse: 0.0348 - val_loss: 0.0359 - val_mse: 0.0359
Epoch 29/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0348 - mse: 0.0348 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 30/30
5950/5950 [==============================] - 19s 3ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353

In [ ]:
test_nn = pd.concat([num_test, cat_test], axis=1)
test_nn

       Age  Education_Level  ...  Decision_skill_possess  Compensation_and_Benefits
0     32.0                5  ...                       2                          2
1     65.0                2  ...                       3                          2
2     52.0                3  ...                       3                          3
3     50.0                5  ...                       0                          0
4     44.0                3  ...                       2                          2
...    ...              ...  ...                     ...                        ...
2995  32.0                3  ...                       3                          2
2996   NaN                2  ...                       2                          2
2997  60.0                4  ...                       0                          3
2998  51.0                1  ...                       1                          3
2999  45.0                1  ...                       3                          4

[3000 rows x 22 columns]

In [ ]:
test_nn_S = StandardScaler().fit_transform(test_nn)
nn.predict(test_nn_S, batch_size=8)

array([[0.1888998],
       [0.1888998],
       [0.1888998],
       ...,
       [0.1888998],
       [0.1888998],
       [0.1888998]], dtype=float32)

In [ ]:
nn.save_weights('first_30.h5', overwrite=True)

In [ ]:
nn.load_weights('first_30.h5')

In [ ]:
nn.predict(test_nn_S, batch_size=16)

array([[0.1888998],
       [0.1888998],
       [0.1888998],
       ...,
       [0.1888998],
       [0.1888998],
       [0.1888998]], dtype=float32)

In [ ]:
nn.fit(Xts, Y_train,
       batch_size=8, epochs=20,
       validation_data=(xtst, Y_test),
       shuffle=True, initial_epoch=5)

Train on 5950 samples, validate on 1050 samples
Epoch 6/20
5950/5950 [==============================] - 15s 3ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 7/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 8/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 9/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 10/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 11/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 12/20
5950/5950 [==============================] - 15s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 13/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 14/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 15/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 16/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 17/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 18/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 19/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 20/20
5950/5950 [==============================] - 14s 2ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353

In [ ]:
nnn.predict(test_nn_S)

array([[0.1820182],
       [0.1820182],
       [0.1820182],
       ...,
       [0.1820182],
       [0.1820182],
       [0.1820182]], dtype=float32)

In [ ]:
submission = pd.DataFrame()
submission['Employee_ID'] = test_df['Employee_ID'].iloc[:]
submission['Attrition_rate'] = 
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.196985
1       EID_9658        0.196985
2      EID_22203        0.196985
3       EID_7652        0.196985
4       EID_6516        0.196985
...          ...             ...
2995   EID_22547        0.196985
2996   EID_10066        0.196985
2997    EID_7126        0.196985
2998    EID_4929        0.196985
2999   EID_24750        0.196985

[3000 rows x 2 columns]

In [ ]:
submission.to_csv('Submission.csv', index=False)

In [ ]:
nnn = Sequential()
nnn.add(Dense(32, input_dim=22, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))

nnn.add(Dense(64, activation='sigmoid'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))
nnn.add(Dense(64, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))
nnn.add(Dense(128, activation='sigmoid'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))
nnn.add(Dense(128, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))
nnn.add(Dense(256, activation='sigmoid'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.3))
nnn.add(Dense(256, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.3))
nnn.add(Dense(512, activation='sigmoid'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.4))
nnn.add(Dense(1024, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.5))

nnn.add(Dense(512, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))

nnn.add(Dense(128, activation='sigmoid'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))

nnn.add(Dense(64, activation='relu'))
nnn.add(BatchNormalization())
nnn.add(Dropout(0.2))
nnn.add(Dense(1, activation='sigmoid'))

nnn.compile(loss='mean_squared_error', optimizer='sgd', metrics=['mse'])
nnn.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_146 (Dense)            (None, 32)                736
_________________________________________________________________
batch_normalization_133 (Bat (None, 32)                128
_________________________________________________________________
dropout_133 (Dropout)        (None, 32)                0
_________________________________________________________________
dense_147 (Dense)            (None, 64)                2112
_________________________________________________________________
batch_normalization_134 (Bat (None, 64)                256
_________________________________________________________________
dropout_134 (Dropout)        (None, 64)                0
_________________________________________________________________
dense_148 (Dense)            (None, 64)                4160
_________________________________________________________________
batch_normalization_135 (Bat (None, 64)                256
_________________________________________________________________
dropout_135 (Dropout)        (None, 64)                0
_________________________________________________________________
dense_149 (Dense)            (None, 128)               8320
_________________________________________________________________
batch_normalization_136 (Bat (None, 128)               512
_________________________________________________________________
dropout_136 (Dropout)        (None, 128)               0
_________________________________________________________________
dense_150 (Dense)            (None, 128)               16512
_________________________________________________________________
batch_normalization_137 (Bat (None, 128)               512
_________________________________________________________________
dropout_137 (Dropout)        (None, 128)               0
_________________________________________________________________
dense_151 (Dense)            (None, 256)               33024
_________________________________________________________________
batch_normalization_138 (Bat (None, 256)               1024
_________________________________________________________________
dropout_138 (Dropout)        (None, 256)               0
_________________________________________________________________
dense_152 (Dense)            (None, 256)               65792
_________________________________________________________________
batch_normalization_139 (Bat (None, 256)               1024
_________________________________________________________________
dropout_139 (Dropout)        (None, 256)               0
_________________________________________________________________
dense_153 (Dense)            (None, 512)               131584
_________________________________________________________________
batch_normalization_140 (Bat (None, 512)               2048
_________________________________________________________________
dropout_140 (Dropout)        (None, 512)               0
_________________________________________________________________
dense_154 (Dense)            (None, 1024)              525312
_________________________________________________________________
batch_normalization_141 (Bat (None, 1024)              4096
_________________________________________________________________
dropout_141 (Dropout)        (None, 1024)              0
_________________________________________________________________
dense_155 (Dense)            (None, 512)               524800
_________________________________________________________________
batch_normalization_142 (Bat (None, 512)               2048
_________________________________________________________________
dropout_142 (Dropout)        (None, 512)               0
_________________________________________________________________
dense_156 (Dense)            (None, 128)               65664
_________________________________________________________________
batch_normalization_143 (Bat (None, 128)               512
_________________________________________________________________
dropout_143 (Dropout)        (None, 128)               0
_________________________________________________________________
dense_157 (Dense)            (None, 64)                8256
_________________________________________________________________
batch_normalization_144 (Bat (None, 64)                256
_________________________________________________________________
dropout_144 (Dropout)        (None, 64)                0
_________________________________________________________________
dense_158 (Dense)            (None, 1)                 65
=================================================================
Total params: 1,399,009
Trainable params: 1,392,673
Non-trainable params: 6,336
_________________________________________________________________

In [ ]:
nnn.fit(Xts, Y_train,
        batch_size=16, epochs=80, initial_epoch=0,
        validation_data=(xtst, Y_test), shuffle=True)

Train on 5950 samples, validate on 1050 samples
Epoch 1/80
5950/5950 [==============================] - 9s 1ms/step - loss: 0.1516 - mse: 0.1516 - val_loss: 0.0614 - val_mse: 0.0614
Epoch 2/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0813 - mse: 0.0813 - val_loss: 0.0382 - val_mse: 0.0382
Epoch 3/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0600 - mse: 0.0600 - val_loss: 0.0357 - val_mse: 0.0357
Epoch 4/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0508 - mse: 0.0508 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 5/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0482 - mse: 0.0482 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 6/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0447 - mse: 0.0447 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 7/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0433 - mse: 0.0433 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 8/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0419 - mse: 0.0419 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 9/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0410 - mse: 0.0410 - val_loss: 0.0358 - val_mse: 0.0358
Epoch 10/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0401 - mse: 0.0401 - val_loss: 0.0357 - val_mse: 0.0357
Epoch 11/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0395 - mse: 0.0395 - val_loss: 0.0355 - val_mse: 0.0355
Epoch 12/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0387 - mse: 0.0387 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 13/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0378 - mse: 0.0378 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 14/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0378 - mse: 0.0378 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 15/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0373 - mse: 0.0373 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 16/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0365 - mse: 0.0365 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 17/80
5950/5950 [==============================] - 8s 1ms/step - loss: 0.0366 - mse: 0.0366 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 18/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0361 - mse: 0.0361 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 19/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0364 - mse: 0.0364 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 20/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0360 - mse: 0.0360 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 21/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0359 - mse: 0.0359 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 22/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0359 - mse: 0.0359 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 23/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0353 - mse: 0.0353 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 24/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0355 - mse: 0.0355 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 25/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0354 - mse: 0.0354 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 26/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0353 - mse: 0.0353 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 27/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0352 - mse: 0.0352 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 28/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0351 - mse: 0.0351 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 29/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0352 - mse: 0.0352 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 30/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 31/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 32/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 33/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0350 - mse: 0.0350 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 34/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0348 - mse: 0.0348 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 35/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0349 - mse: 0.0349 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 36/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0347 - mse: 0.0347 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 37/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 38/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0347 - mse: 0.0347 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 39/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 40/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 41/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 42/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 43/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0347 - mse: 0.0347 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 44/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 45/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 46/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 47/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 48/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 49/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 50/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 51/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 52/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 53/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0346 - mse: 0.0346 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 54/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 55/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 56/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 57/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 58/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 59/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 60/80
5950/5950 [==============================] - 8s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 61/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 62/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 63/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 64/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 65/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 66/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 67/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 68/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 69/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 70/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 71/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 72/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 73/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 74/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 75/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 76/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 77/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 78/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0353 - val_mse: 0.0353
Epoch 79/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0345 - mse: 0.0345 - val_loss: 0.0354 - val_mse: 0.0354
Epoch 80/80
5950/5950 [==============================] - 7s 1ms/step - loss: 0.0344 - mse: 0.0344 - val_loss: 0.0354 - val_mse: 0.0354

In [ ]:
from sklearn.preprocessing import LabelEncoder

for col in cat_test.columns:
  cat_test[col] = LabelEncoder().fit_transform(cat_test[col])
cat_test

      Gender  ...  Compensation_and_Benefits
0          0  ...                          2
1          1  ...                          2
2          1  ...                          3
3          1  ...                          0
4          0  ...                          2
...      ...  ...                        ...
2995       0  ...                          2
2996       0  ...                          2
2997       0  ...                          3
2998       0  ...                          3
2999       0  ...                          4

[3000 rows x 6 columns]